$primary-color: #7C80EE !default; // 全局主色
$link-color: #1890ff !default; // 链接色
$success-color: #52c41a !default; // 成功色
$failed-color:#F8A5A5 !default;// 失败色
$warning-color: #faad14 !default; // 警告色
$heading-color: #333333 !default; // 标题色
$text-color: #666666 !default; // 主文本色
$text-color-secondary: #999999 !default; // 次文本色
$disabled-color: #d9d9d9 !default; // 失效色
$border-radius-base: 20px !default; // 组件/浮层圆角
$border-color-base: #d9d9d9 !default; // 边框色
$box-shadow-base: 0 1px 4px rgba(0, 0, 0, 0.1) !default; // 浮层阴影